InvoiceUtils/Connected Services/OAAttachment/attachment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://OAAttach/" targetNamespace="http://OAAttach/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="decrypt" type="tns:decrypt" />
  <xs:element name="decryptResponse" type="tns:decryptResponse" />
  <xs:element name="encrypt" type="tns:encrypt" />
  <xs:element name="encryptResponse" type="tns:encryptResponse" />
  <xs:complexType name="encrypt">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encryptResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="decrypt">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="decryptResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>