InvoiceUtils/Connected Services/OAAttachment/AttMainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://OAAttach/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AttMainService" targetNamespace="http://OAAttach/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.20.15:8990/OAAttach/main?xsd=1" namespace="http://OAAttach/" />
    </xsd:schema>
  </types>
  <message name="encrypt">
    <part name="parameters" element="tns:encrypt" />
  </message>
  <message name="encryptResponse">
    <part name="parameters" element="tns:encryptResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="decrypt">
    <part name="parameters" element="tns:decrypt" />
  </message>
  <message name="decryptResponse">
    <part name="parameters" element="tns:decryptResponse" />
  </message>
  <message name="sayHelloWorldFrom">
    <part name="parameters" element="tns:sayHelloWorldFrom" />
  </message>
  <message name="sayHelloWorldFromResponse">
    <part name="parameters" element="tns:sayHelloWorldFromResponse" />
  </message>
  <portType name="AttMain">
    <operation name="encrypt">
      <input wsam:Action="http://OAAttach/AttMain/encryptRequest" message="tns:encrypt" />
      <output wsam:Action="http://OAAttach/AttMain/encryptResponse" message="tns:encryptResponse" />
      <fault wsam:Action="http://OAAttach/AttMain/encrypt/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="decrypt">
      <input wsam:Action="http://OAAttach/AttMain/decryptRequest" message="tns:decrypt" />
      <output wsam:Action="http://OAAttach/AttMain/decryptResponse" message="tns:decryptResponse" />
      <fault wsam:Action="http://OAAttach/AttMain/decrypt/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="sayHelloWorldFrom">
      <input wsam:Action="http://OAAttach/AttMain/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom" />
      <output wsam:Action="http://OAAttach/AttMain/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse" />
    </operation>
  </portType>
  <binding name="AttMainPortBinding" type="tns:AttMain">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="encrypt">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="decrypt">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="sayHelloWorldFrom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AttMainService">
    <port name="AttMainPort" binding="tns:AttMainPortBinding">
      <soap:address location="http://192.168.20.15:8990/OAAttach/main" />
    </port>
  </service>
</definitions>